* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.h4_all {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
}

/* Menu */

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}

/* Footer */

.h3_footer {
    width: 340px;
    font-size: 36px;
    text-align: center
}

.p_footer {
    width: 495px;
}

.footer_info {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

/* index.html */

.h1_index {
    width: 510px;
    font-size: 64px;
    color: #1f3f68;
}

.main_header_index {
    text-align: center;
}

.main_panels_index {
    display: flex;
    justify-content: space-around;
}

.main_panel_index {
    width: 359px;
}

/* contacts.html */

.header_content_contacts {
    text-align: center;
}

.main_contacts {
    display: flex;
    justify-content: space-between;
}

.h2_contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.header_content_p_index {
    width: 425px;
}

.input_fields {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.snd_btn_contacts {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}