* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.center {
    max-width: 1366px;
    margin: auto;
    padding-left: 113px;
    padding-right: 113px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Menu */

.menu {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    font-weight: 400;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

/* Footer */

.footer {
    background-color: #316099;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.h3_footer {
    padding-top: 91px;
    max-width: 350px;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.p_footer {
    max-width: 495px;
    padding-top: 32px;
    padding-bottom: 95px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer_btn {
    align-self: center;
}

.footer_btn a {
    width: 240px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 0;
    background: #5A98D0;
    text-decoration: none;
    display: inline-block;
}

.footer_info {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.all_reserved {
    padding-top: 64px;
    padding-bottom: 64px;
}

/* index.html */

.header_background {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header_index {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header_content_index {
    flex-grow: 1;
    background-image: url(img/footer_img.png);
    background-repeat: no-repeat;
    background-position: right center;
    height: 100%;
    min-height: 768px;
}

.h1_index {
    max-width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1f3f68;
    line-height: 74px;
    letter-spacing: 0.04em;
}

.header_content_p_index {
    padding-top: 32px;
    max-width: 425px;
}

.header_content_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 15px 50px;
    margin-top: 70px;
}

.main_content_head {
    display: flex;
    flex-direction: column;
}

.main_header_index h3 {
    padding-top: 64px;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.main_panels_index {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}

.main_panel_index {
    display: flex;
    flex-direction: column;
    max-width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    box-sizing: border-box;
}

.main_panel_img_index {
    align-self: center;
    height: 30%;
}

.main_panel_link_index {
    padding-top: 28px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;

}

.main_h4_index {
    padding-top: 54px;
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.main_content_index {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main_content_h1_index {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 32px;
}

.main_panel_text_index {
    max-width: 750px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    margin-bottom: 64px;
}

.main_example_index {
    position: relative;
}

.main_example_index img {
    width: 100%;
}

.main_example_index h3 {
    position: absolute;
    top: 64px;
    right: 64px;
    font-weight: normal;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.additional_example_main_index {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    max-height: 420px;
    margin-bottom: 110px;
    width: 100%;
}

.additional_example_main_params_index {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.additional_example_main_params_index h4 {
    position: absolute;
    top: 32px;
    left: 32px;
    font-weight: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.additional_example_main_index img {
    width: 100%;
}

.margin_r_32 {
    margin-right: 32px;
}

/* contacts.html */

.contacts_header_background {
    background-image: url(img/contacts_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 55px;
}

.header_content_contacts {
    text-align: center;
}

.h2_contacts {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 50px;
    margin-bottom: 16px;
}

.header_content_contacts p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    max-width: 780px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.main_contacts {
    display: flex;
    justify-content: space-between;
}

.info_contacts img {
    width: 100%;
    margin-bottom: 55px;
}

.info_contacts h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 24px;
}

.info_contacts p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 40px;
}

.contacts_list {
    margin-bottom: 40px;
    list-style-type: none;
}

.contacts_list img {
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.icon_and_text {
    display: flex;
}

.contacts_list a {
    text-decoration: none;
}

.contacts_list h5 {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.form_message_contacts {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 56px;
}

.form_message_contacts_params h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-bottom: 48px;
}

.form_message_contacts_params p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-bottom: 8px;
}

.input_fields {
    padding: 21px 36px;
    border: 1px solid #356ead;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
    opacity: 0.4;
    width: 100%;
    margin-bottom: 32px;
}

.contacts_text_area {
    margin-bottom: 76px;
}

.snd_btn_contacts {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 23px 183px;
}

.map {
    margin-bottom: 110px;
    margin-top: 95px;
}

/* Media */

@media (max-width:1024px) and (min-width:391px) {
    .container {
        width: 100%;
    }

    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer_info {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
    }

    .footer_info li {
        margin-top: 25px;
    }

    .footer_btn a {
        padding: 5px 0;
    }

    /* index */

    .header_content_index {
        background-size: 40%;
        background-position: right bottom 115px;
    }

    .main_panels_index {
        flex-direction: column;
        align-items: center;
    }

    .main_panel_index {
        margin-bottom: 32px;
    }

    /* contacts */
    .main_contacts {
        display: flex;
        flex-direction: column;
    }

    .snd_btn_contacts {
        justify-self: center;
        padding: 20px 10%;
        text-decoration: none;
    }


}

@media (max-width: 390px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer_content {
        flex-direction: column;
        margin-bottom: 36px;
    }

    .footer_info {
        margin-left: 16px;
        flex-direction: column;
    }

    .footer_btn a {
        padding: 8px;
    }

    /* index */

    .header_index {
        text-align: center;
    }

    .header_content_index {
        background-image: none;
        min-height: 368px;
    }

    .h1_index {
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.04em;
    }

    .header_content_link {
        padding: 8px 5px;
        margin-bottom: 41px;
    }

    .main_panels_index {
        flex-direction: column;
        width: 100%;
    }

    .main_header_index h3 {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
    }

    .main_content_h1_index {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
    }

    .main_example_index {
        min-height: 140px;
    }

    .main_example_index h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .additional_example_main_index {
        flex-direction: column;
        margin-top: 16px;
    }

    .additional_example_main_params_index h4 {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }

    /* contacts */

    .main_contacts {
        display: flex;
        flex-direction: column;
    }

}